/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




 /* Body */

body{
  
}

    /* Header */

header {
  height: 64px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
}
header img{
height: 52px;
margin-left: 24px;

    
}
.colmar {
font-size: 32px;
text-transform:uppercase;
font-weight: bold;
color: #4a4a4a;
}
.academy {
font-size: 32px;
text-transform: uppercase;
opacity: 0.8;
color: #4a4a4a;
}
 header ul{ 
  text-align: right;
  flex-grow: 1;
  margin-right: 24px;
 }
 header a{
  padding-left: 16px;
  font-size: 24px;
  text-decoration: none;
  color: #4a4a4a;
 }
  

  

 



    /* Banner */

.banner {
  background-color: #d8d8d8;
  width: 100%;
  display: flex;
  
 }
 .banner div{
  padding-left: 24px;
  width: 30%;
  margin: auto 0;
  
 }
 .banner-text h1{
  font-size: 64px;
  font-weight: bold;
  width: 100%;

}

.banner img {

  width: 60%;
  margin: 32px 24px;

}
.banner p{
  font-size: 32px;
  padding: 40px 0;
}
input{
  padding: 8px;
  font-size: 36px; 
  width: 100%;
}
.main-information {
}
.main-informatiion {
}
.small {
}
.orientation {
}
.our-campus {
}
.our-guest {
}

/* Cours section */

.cours {
}
.software {
}
.art {
}
.design {
}
.data {
}
.business {
}
.marketing {
}

/* Thesis section */


.thesis {
}
.urban {
}

/* Footer  */
.footer{

}
.copyright {
}
