/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


 /* Universal settings */

body, html{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  max-width: 1400px;
  margin:0 auto;
  
}

h2 {
  font-size: 46px;
  font-weight: bold;
  
}

h4 {
  font-size: 26px;
  font-weight: bold;
}

h6 {
  opacity: 0.8;

}

p {
  font-size: 20px;
  line-height: normal;
  opacity: 0.8;
}

span {
  opacity: 0.8;
}
a {
  text-decoration: none;
}

    /* Header */

header {
  height: 64px;
  display: flex;
  align-items: center;
  width: 1400px;
  background-color: white;
  position: fixed;
  
}
.colmar-logo img{
height: 52px;
padding-left: 24px;
}
.colmar {
font-size: 32px;
text-transform:uppercase;
font-weight: bold;
color: #4a4a4a;
}
.academy {
font-size: 32px;
text-transform: uppercase;
opacity: 0.8;
color: #4a4a4a;
}
 header ul{ 
  text-align: right;
  flex-grow: 1;
  margin-right: 24px;
 }
 ul a{
  padding-left: 16px;
  font-size: 24px;
  color: #4a4a4a;
 }
  
  /* Banner */

.banner {
  background-color: #d8d8d8;
  width: 100%;
  display: flex;
  color: #4a4a4a;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
  
  
 }
 .banner div{
  padding-left: 10px;
  width: 30%;
  margin: auto 0;
  
 
 }
 .banner h1{
  font-size: 58px;
  font-weight: bold;
  width: 100%;
  text-align: justify;
  line-height: 1em;

  }

.banner img {

  width: 60%;
  margin: 32px 24px;
  
}
.banner h4{
  margin: 40px 0;
  line-height: 38px;
  letter-spacing: 2px;
  
  
}
input{

  padding: 16px 0;
  font-size: 26px; 
  width: 100%;
  background-color: #4a4a4a;
  color: white;
  border: none;
}

input:hover {
  background-color:#2c2b2b;
  cursor: pointer;
}

input:active {
  opacity: 0.5;
  color: #000000;
}


/* Main information section */

main {
  background-color: #f3f5f5;
  display: flex;
  
  
}
.main-information {
  width: 60%;
  color: #4a4a4a;
  
  
  }
 
 .main-information img{
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 24px;
  
}
.info-text{
  margin-left: 24px;
  text-align: justify;
  }
.info h2{
  margin-bottom: 24px;
  
}

.info .small {
font-size: 18px;
margin: 32px 0;
}


/* location section */

main .location{
  width: 38%;
  margin-left: 44px;
  margin-top: 10px;
  border-left: 1px solid #d8d8d8;
  
  
 
  
  }
.location img{
  width: 38%;
  
  }

main .location-text{
  width: 100%;
  margin: auto 18px;
  line-height: 1em;
  color: #4a4a4a;
  padding-left: 10px;
  
  
}

.location-text p{
  padding: 20px 0;
}
.location a{
  font-size: 20px;
  text-decoration: none;
  color: #4a90e2;
  


}

.orientation {
   display: flex;
   padding: 20px;
   
}
.our-campus {
  padding: 22px;
  display: flex;
  
}
.our-guest {
   padding: 22px;
   display: flex;
   background-color:#d8d8d8;
}

/* Cours section */

.cours {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-rows:1fr 1fr ;
  grid-template-columns:repeat(3, 25%);
  gap: 32px;
  justify-content: center;
  padding: 32px 0;
  background-color: #d8d8d8;
  
  
}
.cours div {
  background-color: white;
  color: #4a4a4a;
  line-height: 3em;
  padding-bottom:   25px;
  
 
}
.center-text {
  margin: 32px 0;
  text-align: center;
  font-weight: bold;
  color: #4a4a4a;
}
.cours h4 {
 text-align: center; 
 letter-spacing: 1.5px;
}
.cours h6{
  font-size: 24px;
  padding: 16px;
  
}

.cours p{
  padding: 0 16px;
  
}
.cours img{
  height:auto;
  width: 100%;
}

/* Thesis section */


.thesis {
display: flex;
width: 100%;
  
}
.video-container{
  width: 60%;
  margin: 32px 0 32px 32px;
}
.thesis h4 {
  margin: 24px 0 8px 0;
}
video {
  width: 100%;
}

.right-section {
  width: 34%;
  margin: 32px 0 24px 32px;
  
}

.right-section p{
  padding-top: 20px;
}
.right-section img{
  width: 35%;
 ;
  
}
.section-1 {
  width: 100%;
  background-color: #d8d8d8;
  display: flex;
  padding: 16px 0 16px 16px;
  
}
.right-section-text-1 {
  width: 100%;
  color: #4a4a4a;
  padding-left: 10px;
  margin: auto 0;
    
}

.section-2 {
 width: 100%;
 display: flex;
 margin-top: 14px;
 padding: 0 16px;


}
 .right-section-text-2  {
  width: 100%;
  color: #4a4a4a;
  padding-left: 10px;
  margin: auto 0;
  
}


/* Footer  */

footer{
padding-top: 16px;
padding-bottom: 8em;
border-top:1px solid #d8d8d8;
}
.copyright {
  text-align: left;
  margin-left: 24px;
}
 .terms {
  float: right;
  margin-right: 24px;
}


            /* Media query */

@media only screen and (min-width: 992px){
  .mobile-header {
    display: none;
  }
}
 @media only screen  and (max-width: 992px) {
  body {
   max-width: 100%;
  }
  header>a, ul { 
    display: none;  
    }
  .mobile-header {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 50%;
   padding-left: 15%;
   height: 64px;
   align-items: center;
   justify-content:right;

   
   
    
  }
  

  .banner {
    flex-direction: column;
    border: 1px solid black;
    width:fit-content;
    
  }
    
  .banner img{
    width: 100%;
    margin-left: 0;
   
  }
  .banner-text{
  width: 100%;
  
  
 }
 input{
  width: 100%;
 }

  .info  img{
    display: none;
  }

.location {
  
}

}




